#style_tags_column{min-width: unset !important;max-width:8vw; background-color: #1f2937; padding: 5px; min-width: min(0px,100%) !important; border-style: solid; border-left: #e76715;}
#style_cards_column{height: 40vh; min-width: unset !important;width: 26vw;overflow: auto;padding-top: 10px;padding-left: 5px;}
.style_card{ display: flex; flex-direction: column; align-items: center; justify-content: center; width:auto;float: left; contain: content;margin-top: unset !important; margin: 5px;}
.styles_overlay{position: absolute;width: 100%; ;height:100% ;background-color: rgba(46, 46, 46, 0.642);opacity: 0; transition:opacity 0.5s ease;}
.style_card:hover .styles_overlay{ opacity: 1;}
.style_card:hover {box-shadow: 0px 0px 12px 1px #fff !important;}
.styles_thumbnail{height:inherit !important; width:auto; object-fit: contain;}
.styles_title{pointer-events: none;position: absolute;top: 0;left: 0;background:#00000094; padding: 2px;}
.styles_description{pointer-events: none;position: fixed;text-align: center; opacity: 0; transition:opacity 0.5s ease;}
.style_card:hover .styles_description{ opacity: 1; }
#txt2img_styles_popout > div{left: 0.3vw;flex-flow: column;}
#img2img_styles_popout > div{left: 0.3vw;flex-flow: column;}
#txt2img_styles_popout {border-left-style: solid;border-left-width: 2px}
#img2img_styles_popout {border-left-style: solid;border-left-width: 2px}
#style_refresh{min-width:unset !important;max-width: 2vw;align-self: baseline;}
#style_tags > label > div{margin-top: 10px;}
.EditStyleJson{z-index: 9999;position: absolute;background-color: #00000094 !important;right: 0;bottom: 0; padding: 5px !important;}
#style_command_btn_row{width: fit-content !important;align-self: end;}
#style_filename_check_container{top:-20px;}
#style_cards_Pref{flex-grow: 0; max-height: fit-content; bottom: 0;}
#gradio_style_savefolder_row{top: -35px;position: relative !important;}
.styles_checkbox{max-width: fit-content;min-width: unset !important;}
.styles_dropdown > label > div{background-color: #00000042 !important;}
.styles_checkbox > label > input{box-shadow: none !important;}
#previewPromptPos > label > textarea{ max-height:63px ;}
#previewPromptNeg > label > textarea{ max-height:63px ;}